.sidebar {
    background-color: var(--gray60);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem;
    /* border: 1px solid red; */
    /* inline-size: 15rem; */
}